//Create profiles to easily switch between the different process executors and platforms.
workDir = '~/nxf_temp'

params {
    outdir = './results/nfcore_rnaseq'
}

azure {
    storage {
        accountName = '<STORAGE_ACCOUNT_NAME>'
    }
    batch {
        location = '<LOCATION>'
        accountName = '<BATCH_ACCOUNT_NAME>'
        autoPoolMode = true
        allowPoolCreation = true
    }
}

profiles {
    // Azure Batch
    azbatch {
        process.executor = 'azurebatch'
    }
    // AWS Batch
    
    // Google Cloud 

    //For running with hyperqueue job scheduler and docker  
    hyperqueue {
        docker { 
            enabled = true
            runOptions = '-u \$(id -u):\$(id -g)' 
        }
        process {
            executor = 'hq'
            withLabel: 'high_priority' { 
                 clusterOptions = '--priority=5'
            }
            withLabel: 'med_priority' { 
                 clusterOptions = '--priority=3'
            }
            withLabel: 'low_priority' { 
                 clusterOptions = '--priority=-5'
            }
        }
    }
}

