//Create profiles to easily switch between the different process executors and platforms.
workDir = 'az://demo-azure-rnaseq/work'
resume = true
report.overwrite = true
dag.overwrite = true

params {
    outdir = 'az://demo-azure-rnaseq/nfcore_rnaseq'
}

process {
    executor = 'azurebatch'
    // for nf-core pipelines with standardized labels
    withLabel: 'process_high|process_medium' { 
        queue = 'large'
    }
    withLabel: '!process_high|process_medium' { 
        queue = 'small'
    }

    // for epi2me variant calling pipeline
    withName: 'readStats' { 
        queue = 'high_cpu'
    }
    withName: 'sv:*' { 
        queue = 'high_mem'
    }
    withName: 'snp:extract_not_haplotagged_contigs' {
        queue = 'high_cpu'
    }
}


//https://www.nextflow.io/docs/latest/azure.html
azure {
    managedIdentity {
        system = true
    }
    storage {
        accountName = 'cloudhpcstgaccount'
    }
    batch {
        location = 'italynorth'
        accountName = 'cloudhpcbatch'
        autoPoolMode = false
        allowPoolCreation = true
        deletePoolsOnCompletion = true 
        pools {
                // automatically scale pools
                small {
                    autoScale = true
                    vmType = 'Standard_D2ds_v5'
                    vmCount = 1
                    maxVmCount = 150
                    virtualNetwork = '/subscriptions/466a5f97-1f3f-4c8f-88d2-cf7432c4ff84/resourceGroups/CloudHPC/providers/Microsoft.Network/virtualNetworks/cloudhpcvnet/subnets/default'
                }
                large {
                    autoScale = true
                    vmType = 'Standard_D4ds_v5'
                    vmCount = 1
                    maxVmCount = 50
                    virtualNetwork = '/subscriptions/466a5f97-1f3f-4c8f-88d2-cf7432c4ff84/resourceGroups/CloudHPC/providers/Microsoft.Network/virtualNetworks/cloudhpcvnet/subnets/default'
                }
                high_cpu {
                    autoScale = true
                    vmType = 'Standard_D8as_v5'
                    vmCount = 1
                    maxVmCount = 10
                    virtualNetwork = '/subscriptions/466a5f97-1f3f-4c8f-88d2-cf7432c4ff84/resourceGroups/CloudHPC/providers/Microsoft.Network/virtualNetworks/cloudhpcvnet/subnets/default'
                }
                high_mem {
                    autoScale = true
                    vmType = 'Standard_E4ds_v5'
                    vmCount = 1
                    maxVmCount = 10
                    virtualNetwork = '/subscriptions/466a5f97-1f3f-4c8f-88d2-cf7432c4ff84/resourceGroups/CloudHPC/providers/Microsoft.Network/virtualNetworks/cloudhpcvnet/subnets/default'
                }
        }
    }
}

