//Create profiles to easily switch between the different process executors and platforms.

params {
    outdir = './results/nfcore_rnaseq'
}

process.executor = 'azurebatch'
process.queue = 'large'

//https://www.nextflow.io/docs/latest/azure.html
azure {
    managedIdentity {
        system = true
    }
    storage {
        accountName = 'cloudhpcstgaccount'
    }
    batch {
        location = 'italynorth'
        accountName = 'cloudhpcbatch'
        //autoPoolMode = true
        allowPoolCreation = true
	deletePoolsOnCompletion = true 
    pools {
            small {
                vmType = 'Standard_D2ds_v5'
                vmCount = 1
		virtualNetwork = '/subscriptions/466a5f97-1f3f-4c8f-88d2-cf7432c4ff84/resourceGroups/CloudHPC/providers/Microsoft.Network/virtualNetworks/cloudhpcvnet/subnets/default'

            }
            large {
                vmType = 'Standard_D4ds_v5'
                vmCount = 1
		virtualNetwork = '/subscriptions/466a5f97-1f3f-4c8f-88d2-cf7432c4ff84/resourceGroups/CloudHPC/providers/Microsoft.Network/virtualNetworks/cloudhpcvnet/subnets/default'

            }
        }
    }
}

