//Create profiles to easily switch between the different process executors and platforms.
//workDir = 'az://demo-azure-rnaseq/work'

params {
    outdir = './results/nfcore_rnaseq'
}

//https://www.nextflow.io/docs/latest/azure.html
azure {
    managedIdentity {
        system = true
    }
    storage {
        accountName = 'cloudhpcstgaccount'
    }
    batch {
        location = 'italynorth'
        accountName = 'cloudhpcbatch'
        autoPoolMode = true
        allowPoolCreation = true
    }
}

// https://www.nextflow.io/docs/latest/reference/config.html#config-k8s
/*
k8s {
    storageClaimName = 'vol-claim'
    storageMountPath = '/mount/path'
    storageSubPath = '/my-data'
    context = '<K8S_CLUSTER_CONTEXT>'
    namespace = 'fusion-demo'
    serviceAccount = 'fusion-sa'
}
*/

profiles {
    // Azure Batch
    azbatch {
        process {
            executor = 'azurebatch'
            withLabel: 'high_priority' { 
                 clusterOptions = '--priority=5'
            }
        process.executor = 'azurebatch'
        process.machineType = "Standard_D*d_v5,Standard_E*d_v5"
    }
    // Azure Kubernetes Service
    azk {
        process.executor = 'k8s'
        wave.enabled = true
        fusion.enabled = true
        tower.accessToken = '<PLATFORM_ACCESS_TOKEN>'
    }
    // AWS Batch
    
    // Google Cloud 

    //For running with hyperqueue job scheduler and docker  
    hyperqueue {
        docker { 
            enabled = true
            runOptions = '-u \$(id -u):\$(id -g)' 
        }
        process {
            executor = 'hq'
            withLabel: 'high_priority' { 
                 clusterOptions = '--priority=5'
            }
            withLabel: 'med_priority' { 
                 clusterOptions = '--priority=3'
            }
            withLabel: 'low_priority' { 
                 clusterOptions = '--priority=-5'
            }
        }
    }
}
