//Create profiles to easily switch between the different process executors and platforms.
workDir = "$HOME/nextflow_tmp"
resume = true
report.overwrite = true
dag.overwrite = true

params {
    outdir = "$HOME/data/rnaseq_nfcore"
}

docker {
    enabled = true
    runOptions = "--user \$(id -u):\$(id -g)"
}


// Google Cloud 
process {
    executor = 'slurm'
    // for nf-core pipelines with standardized labels
    withLabel: 'process_high' { 
        queue = 'c4highmem8'
        time = '12.h'
        clusterOptions = '--requeue -t 24:00:00'
    }
    withLabel: 'process_medium' { 
        queue = 'c4highmem8'
        time = '12.h'
    }
    withLabel: '!process_high|process_medium' { 
        queue = 'h4d'
        time = '12.h'
    }
}



